@use '../../assets/styles/colors.scss';
@use 'sass:color';

.sidebar {
    width: 42px;
    height: calc(100% - 42px);
    position: fixed;
    top: 42px;
    left: 0;
    background: colors.$black;
    border-right: 1px solid color.adjust(colors.$bg, $lightness: 10%);
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    padding: 2px 0;
    .sidebar_option {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 36px;
        color: colors.$gray;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        border-radius: 4px;
        &.active, &:hover {
            color: colors.$white;
            background: color.adjust(colors.$black, $lightness: 10%);
            span {
                opacity: 1;
            }
        }
        span {
            opacity: 0;
            position: absolute;
            width: max-content;
            left: 42px;
            font-size: 12px;
            font-weight: 500;
            color: colors.$white;
            background: color.adjust(colors.$black, $lightness: 10%);
            padding: 2px 6px;
            border-radius: 4px;
        }
    }
}