@use '../../assets/styles/colors.scss';
@use 'sass:color';

.onboarding_overlay {
    position: fixed;
    top: 96px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: color.change(colors.$black, $alpha: .1);
    backdrop-filter: blur(10px);
    z-index: 9999;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    animation: onboarding 0.5s ease-in-out;
}

.onboarding {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 700px;
    height: 500px;
    background: colors.$black;
    padding: 48px;
    z-index: 9999;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: onboarding 0.5s ease-in-out;
    .onboarding_left {
        display: flex;
        flex-direction: column;
        gap: 42px;
        .onboarding_left_header {
            display: flex;
            flex-direction: column;
            gap: 12px;
            .top {
                display: flex;
                flex-direction: column;
                gap: 4px;
                span {
                    color: colors.$gray;
                    font-weight: 500;
                    font-size: 14px;
                }
                h1 {
                    color: colors.$white;
                    font-weight: 500;
                    font-size: 32px;
                }
            }
            p {
                color: colors.$white;
                font-weight: 500;
                font-size: 14px;
                max-width: 500px;
            }
        }
        .onboarding_left_continue {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 1 50%;
                padding: 4px 16px;
                border-radius: 8px;
                height: 42px;
                font-weight: 500;
                font-size: 14px;
                cursor: pointer;
                border: 1px solid transparent;
                transition: all 0.2s linear;
                &.previous {
                    background: colors.$bg;
                    color: colors.$white;
                    border: 1px solid rgba(colors.$gray, 0.15);
                }
                &.next {
                    background: colors.$primary;
                    color: colors.$white;
                }
                &.finish {
                    background: colors.$primary;
                    color: colors.$white;
                    &:disabled {
                        background: color.adjust(colors.$bg, $lightness: 15%);
                        color: colors.$white;
                        cursor: not-allowed;
                    }
                }
            }
        }
        .onboarding_additional {
            width: 100%;
            min-height: 72px;
            display: flex;
            align-items: center;
            gap: 12px;
            background: colors.$black;
            padding: 24px;
            border-radius: 8px;
            border: 1px solid rgba(colors.$gray, 0.15);
            .image {
                width: 56px;
                height: 56px;
                border-radius: 8px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                h2 {
                    color: colors.$white;
                    font-weight: 500;
                    font-size: 16px;
                }
                p {
                    color: colors.$gray;
                    font-weight: 500;
                    font-size: 14px;
                }
                .checkbox {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-top: 4px;
                    cursor: pointer;
                    button {
                        height: 16px;
                        width: 16px;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: colors.$white;
                        font-size: 10px;
                        border: 1px solid rgba(colors.$gray, 0.15);
                        background: colors.$gray;
                        transition: all 0.2s linear;
                        &.accepted {
                            background: colors.$primary;
                            color: colors.$white;
                        }
                    }
                    p {
                        color: colors.$gray;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
            }

        }
    }
}

@keyframes onboarding {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}