@use '../../assets/styles/colors.scss';
@use 'sass:color';

.bottom_bar {
    width: 100%;
    height: 40px;
    background-color: colors.$bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    z-index: 1001;
    position: relative;
    .leftside {
        display: flex;
        align-items: center;
        gap: 8px;
        .value {
            display: flex;
            align-items: center;
            gap: 4px;
            color: colors.$gray;
            font-size: 14px;
            font-weight: 500;
            position: relative;
            .label {
                opacity: 0;
                position: absolute;
                width: max-content;
                top: -24px;
                font-size: 12px;
                font-weight: 500;
                color: colors.$white;
                background: color.adjust(colors.$black, $lightness: 10%);
                padding: 2px 6px;
                border-radius: 4px;
                pointer-events: none;
                z-index: 999;
            }
            &:hover {
                .label {
                    opacity: 1;
                }
            }
        }
    }
    .rightside {
        display: flex;
        align-items: center;
        gap: 16px;
        .item {
            color: colors.$gray;
            font-size: 13px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 6px;
            cursor: pointer;
            transition: color 0.2s;
            &:hover {
                color: colors.$white;
            }
            &.language {
                gap: 8px;
                svg {
                    font-size: 14px;
                }
            }
        }
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}