@use 'sass:color';
@use './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, body, html, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    transition: .2s linear;
}

body, html {
    background: colors.$black;
    color: colors.$white;
}

::selection {
    background: color.adjust(colors.$bg, $lightness: 5%);
    color: colors.$white;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    background: colors.$bg;
}

::-webkit-scrollbar-track {
    background: colors.$bg;
}

::-webkit-scrollbar-thumb {
    background: colors.$primary;
    border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
    background: color.adjust(colors.$primary, $lightness: 5%);
}