@use 'sass:color';
@use './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, body, html, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    // transition: .2s linear;
}

body, html, #root {
    background: colors.$black;
    color: colors.$white;
    height: 100%;
}

main {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100% - 42px - 40px);
    gap: 12px;
    padding: 16px;
    padding-bottom: 0;
}

::selection {
    background: color.adjust(colors.$bg, $lightness: 5%);
    color: colors.$white;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    background: colors.$bg;
}

::-webkit-scrollbar-track {
    background: colors.$bg;
}

::-webkit-scrollbar-thumb {
    background: colors.$primary;
    border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
    background: color.adjust(colors.$primary, $lightness: 5%);
}

/* Ensure the terminal container doesn't override weights */
.xterm-viewport {
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
}